@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 6% 10%;
    --card: 0 0% 100%;
    --card-foreground: 240 6% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 10%;
    --primary: 217 91% 60%; /* #3498db */
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 98%;
    --secondary-foreground: 240 6% 10%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 240 4% 46%;
    --accent: 210 40% 96.1%; /* #2980b9 */
    --accent-foreground: 240 6% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --success: 142 76% 36%;
    --success-foreground: 0 0% 100%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 217 91% 60%;
    --chart-1: 217 91% 60%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 228 66% 16%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-icon-muted: 213 9% 58%; /* #8c939f */
    --sidebar-primary: 217 91% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 223 44% 27%; /* #263765 */
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 223 47% 21%;
    --sidebar-ring: 217 91% 60%;
  }

  .dark {
    --background: 240 4% 10%;
    --foreground: 0 0% 98%;
    --card: 240 4% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 4% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 240 4% 10%;
    --secondary: 240 4% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 15%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 4% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --success: 142 71% 45%;
    --success-foreground: 0 0% 100%;
    --border: 240 4% 20%;
    --input: 240 4% 20%;
    --ring: 217 91% 60%;
    --chart-1: 217 91% 60%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 228 66% 16%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-icon-muted: 213 9% 58%; /* #8c939f */
    --sidebar-primary: 217 91% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 223 44% 27%; /* #263765 */
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 223 47% 21%;
    --sidebar-ring: 217 91% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .rdp-day_sunday {
    @apply text-red-500;
  }
}


.cropper-controls {
  @apply p-4 flex flex-col gap-4;
}

.cropper-controls .slider-container {
  @apply flex items-center gap-4;
}
